
html, body {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    margin: 0px;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

/* create grid container with 4 rows and 2 columns
added box-sizing: border-box in order to keep the container
width and length after adding a white border as requested by
the exercise. */
#grid-container {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: 10px solid white;
}

.card {
    text-transform: capitalize;
    color: white;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2);
}

.card:hover {
    opacity: 0.90;
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #FCD34D;
}

#sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #EA580C;
}


#footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #3F3F46;
}

#article {
    background-color: #94A3B8;
}

#nav {
    background-color: #0EA5E9;
}